body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f1f5f9;
  color: #1e293b;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  @media (max-width: 1000px) {
    height: unset;
  }
}

.layout {
  display: flex;
  flex: 1;
  padding: 20px;
  gap: 20px;
  height: calc(100vh - 115px);
  @media (max-width: 1000px) {
    flex-wrap: wrap;
  }
}

.sidebar,
.center {
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border: 1px solid #e2e8f0;
}

.left-sidebar {
  flex: 0 0 280px;
  @media (max-width: 1000px) {
    flex: 0 0 calc(50% - 12px);
    max-width: calc(50% - 12px);
  }

  @media (max-width: 600px) {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.center {
  flex: 1;
  display: flex;
  flex-direction: column;
  @media (max-width: 1000px) {
    flex: 1 1 100%;
    order: 3;
  }
}
.right-sidebar {
  flex: 0 0 400px;
  display: flex;
  flex-direction: column;

  @media (max-width: 1200px) {
    flex: 0 0 280px;
  }

  @media (max-width: 1000px) {
    flex: 0 0 calc(50% - 12px);
    max-width: calc(50% - 12px);
  }

  @media (max-width: 600px) {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
